@charset "UTF-8";
:root {
    font-size: 16px;
}
body{
    background: #000 url(pacote-d013/imagens/fundo-madeira.jpg) bottom center no-repeat fixed;
    background-size:cover;
}
ul {
    list-style: none;
    flex-direction: column;

}
button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    gap: 2rem;
}